<html>
  <head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Create a todo agent</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Title" name="title" value="{{
          request.form.title }}">
        <br>
        <input type="text" placeholder="Description" name="description" value="{{
          request.form.description }}">
        <br>
        <input type="text" placeholder="Category" name="category" value="{{
          request.form.category }}">
        <br>
        <input type="date" placeholder="Due Date" name="due_date" value="{{
          request.form.due_date }}">
        <br>
        <input type="submit" value="Save">
      </form>
    </div>
  </body>
</html>